.notiButton {
  width: 100%;
}

.notiContainer {
  width: 75%;
  margin: auto;
}

.json {
  color: lime;
  background-color: black;
  padding: 5px;
}

.noti-row {
  align-items: center;
  margin-top: 10px !important;
}

#no-results {
  width: 100%;
  text-align: center;
}
