#app-container {
  height: 100%;
  padding-bottom: 20px;
}

.display-3,
.lead {
  text-align: center;
}

.report-row {
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
