#header {
  margin-bottom: 20px;
}

#adyen-logo {
  padding-left: 10px;
}

#recent-searches{
  margin-left: auto;
  padding-right: 10px;
}

.dropdown-item:hover{
  background-color: lightgray !important;
}